@import url(https://fonts.googleapis.com/css?family=Overpass:300,regular,500,600,700,800,900&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #fff;
  line-height: 1;
  font-family: Overpass;
  font-size: 1.25rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Overpass;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  line-height: 1.25;
  background-color: #010101
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: .9375rem 1fr minmax(auto,73.125rem) 1fr .9375rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.button {
  border-radius: .9375rem;
  box-shadow: -6px 7px 21px 0 rgba(34,46,57,.29),-25px 30px 39px 0 rgba(34,46,57,.26),-56px 67px 52px 0 rgba(34,46,57,.15),-100px 119px 62px 0 rgba(34,46,57,.04),-156px 185px 68px 0 rgba(34,46,57,.01);
  background: linear-gradient(132deg,#b6b6b6 0,rgba(255,255,255,.9) 49.66%,rgba(169,169,169,.77) 100%);
  font-weight: 700;
  text-transform: uppercase;
  color: #292929;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  justify-self: flex-start;
  transition: all .4s
}
.title {
  font-weight: 900;
  text-transform: uppercase
}
.icon {
  background: #4d4d4d;
  border-radius: .9375rem;
  aspect-ratio: 1/1;
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: center
}
.header {
  background: linear-gradient(315deg,rgba(0,0,0,0) 0,#000 100%),url(../img/hero.webp) top/cover no-repeat
}
.header__logo img {
  width: 100%
}
.header__title {
  display: flex;
  flex-wrap: wrap;
  font-weight: 700;
  text-transform: uppercase;
  background: linear-gradient(90deg,#fff 0,#999 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}
.header__subtitle {
  font-weight: 700;
  text-transform: uppercase;
  background: linear-gradient(90deg,#fff 0,#999 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}
.header__button {
  padding: 2.8125rem 3.75rem 2.5625rem 3.75rem
}
.footer__top {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-items: center
}
.footer__logo {
  width: 10rem
}
.footer__logo img {
  max-width: 100%
}
.footer__url {
  justify-self: center;
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
  color: #888
}
.footer__social {
  display: flex;
  gap: .8125rem
}
.footer__social a {
  transition: all .3s
}
.footer__policy {
  text-decoration: underline
}
.bottom-footer {
  background: #252525;
  padding: .9375rem 0
}
.bottom-footer__container {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 1rem;
  color: #4d4d4d;
  gap: 1rem
}
.advantages {
  position: relative
}
.advantages::before {
  content: url(../img/bg-vector_1.svg);
  position: absolute;
  top: 0;
  left: 0
}
.advantages__container {
  position: relative
}
.advantages__container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: .0625rem;
  width: 74%;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%,0);
  transform: translate(-50%,0);
  background-color: rgba(255,255,255,.21)
}
.advantages__items {
  display: grid;
  grid-template-columns: repeat(2,1fr)
}
.advantages__options {
  display: grid
}
.item-advantage {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 622/383;
  position: relative;
  border: 1px solid #2c2c2c
}
.item-advantage::before {
  z-index: 8;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(226deg,rgba(0,0,0,0) 0,#2c2a2a 100%)
}
.item-advantage img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  transition: all .3s
}
.item-advantage__name {
  position: relative;
  z-index: 11;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff
}
.option-advanrage {
  padding: 1.3125rem 7.5rem 1.25rem 1.5rem;
  background: rgba(30,30,30,.78);
  border-radius: 1.25rem;
  display: flex;
  align-items: center
}
.option-advanrage__text {
  font-weight: 600;
  text-transform: uppercase
}
.service {
  position: relative
}
.service::before {
  content: url(../img/bg-vector_1.svg);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1
}
.service__items {
  display: grid;
  grid-template-columns: repeat(2,1fr)
}
.item-service {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  border: 1px solid #2c2c2c;
  border-radius: .9375rem;
  aspect-ratio: 626/290;
  position: relative;
  overflow: hidden
}
.item-service::before {
  z-index: 8;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  background: linear-gradient(180deg,rgba(77,77,77,0) 0,#000 100%)
}
.item-service__image img {
  transition: all .45s;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover
}
.item-service__text {
  position: relative;
  z-index: 11;
  font-weight: 600;
  text-transform: uppercase
}
.item-service__text s {
  font-weight: 300
}
.item-service__text b {
  font-weight: 800
}
.attention {
  border-radius: 1.25rem;
  align-items: center;
  background: rgba(30,30,30,.78);
  display: flex
}
.attention__body {
  display: grid;
  gap: 1.375rem
}
.attention__text {
  display: grid
}
.attention__message {
  font-weight: 300;
  font-size: 1rem
}
.equipment {
  position: relative;
  padding-top: 3.0625rem
}
.equipment::before {
  background: linear-gradient(180deg,#0c0c0c 0,rgba(44,42,42,0) 100%);
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1
}
.equipment__title {
  display: inline-flex;
  position: relative
}
.equipment__title::after,
.equipment__title::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 1px;
  background-color: rgba(255,255,255,.21);
  top: 50%;
  -webkit-transform: translate(0,-50%);
  transform: translate(0,-50%);
  right: calc(100% + 1.375rem)
}
.equipment__title:before {
  right: calc(100% + 1.375rem)
}
.equipment__title::after {
  left: calc(100% + 1.875rem)
}
.equipment__items {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(17.5rem,1fr));
  width: 100%
}
.item-equipment {
  border: 1px solid #2c2c2c;
  border-radius: .9375rem;
  background: #0c0c0c,linear-gradient(180deg,#0c0c0c 0,#111 100%);
  width: 100%;
  aspect-ratio: 392/526
}
.item-equipment:nth-child(3) .item-equipment__image img {
  -o-object-position: bottom;
  object-position: bottom
}
.item-equipment__image {
  width: 100%;
  position: relative;
  overflow: hidden;
  aspect-ratio: 392/386;
  display: flex;
  justify-content: center;
  align-items: flex-end
}
.item-equipment__image img {
  transition: all .3s
}
.item-equipment__body {
  display: grid;
  justify-items: center;
  gap: 1.25rem;
  padding: 1.4375rem 1.4375rem 2.125rem 1.4375rem
}
.item-equipment__name {
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  transition: all .3s
}
.item-equipment__price {
  font-weight: 900;
  font-size: 1.5rem;
  text-transform: uppercase
}
.connect__title {
  display: inline-flex;
  position: relative
}
.connect__title::after {
  content: "";
  position: absolute;
  width: 100vw;
  height: 1px;
  background-color: rgba(255,255,255,.21);
  top: 50%;
  -webkit-transform: translate(0,-50%);
  transform: translate(0,-50%);
  left: calc(100% + 1.875rem)
}
.connect__items {
  display: grid
}
.item-connect {
  display: flex;
  align-items: center
}
.item-connect__image {
  border-radius: .9375rem;
  position: relative;
  aspect-ratio: 462/171;
  flex: 0 0 35.538462%;
  overflow: hidden
}
.item-connect__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover
}
.item-connect__text {
  font-weight: 600
}
.video-animation video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover
}
.video-animation__body {
  position: relative;
  border: 1px solid #2c2c2c;
  border-radius: .9375rem;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1300/585
}
.result__title {
  display: inline-flex;
  position: relative
}
.result__title::after {
  content: "";
  position: absolute;
  width: 100vw;
  height: 1px;
  background-color: rgba(255,255,255,.21);
  top: 50%;
  -webkit-transform: translate(0,-50%);
  transform: translate(0,-50%);
  left: calc(100% + 1.875rem)
}
.result__items {
  display: grid;
  gap: 1.25rem
}
.result__attention {
  display: flex;
  gap: 1.25rem;
  align-items: center
}
.item-result {
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
  align-items: center;
  padding: 1.75rem 0;
  transition: all .4s;
  border-radius: 1.25rem
}
.item-result__body {
  transition: all .4s
}
.item-result__name {
  font-weight: 900;
  font-size: 1.5rem;
  text-transform: uppercase
}
.item-result__icon {
  transition: all .4s
}
.attention-result__text b {
  font-weight: 900;
  text-transform: uppercase
}
.contact {
  background: url(../img/bg-vector_3.webp) center/cover no-repeat;
  padding-top: 5.8125rem
}
.contact__container {
  padding-bottom: 5.625rem;
  display: grid;
  justify-items: center
}
.contact__title {
  text-align: center
}
.contact__subtitle {
  text-align: center
}
.contact__text {
  font-weight: 300;
  font-size: .875rem;
  color: #686868
}
.form-contact {
  display: flex;
  max-width: 52.5rem;
  width: 100%
}
.form-contact__input {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .9375rem;
  border: 1px solid #6e6e6e;
  flex: 1 1 auto
}
.form-contact__input::-webkit-input-placeholder {
  text-transform: uppercase;
  color: #6c6c6c;
  -webkit-transition: all .4s;
  transition: all .4s
}
.form-contact__input:-ms-input-placeholder {
  text-transform: uppercase;
  color: #6c6c6c;
  -ms-transition: all .4s;
  transition: all .4s
}
.form-contact__input::-ms-input-placeholder {
  text-transform: uppercase;
  color: #6c6c6c;
  -ms-transition: all .4s;
  transition: all .4s
}
.form-contact__input::placeholder {
  text-transform: uppercase;
  color: #6c6c6c;
  transition: all .4s
}
.form-contact__input:focus::-webkit-input-placeholder {
  opacity: 0
}
.form-contact__input:focus:-ms-input-placeholder {
  opacity: 0
}
.form-contact__input:focus::-ms-input-placeholder {
  opacity: 0
}
.form-contact__input:focus::placeholder {
  opacity: 0
}
.form-contact__button {
  flex: 0 0 45%;
  padding: 1.8125rem
}
@media (min-width:47.99875em) {
  .header__title {
    max-width: 70%
  }
  .footer__top {
    gap: 1.875rem
  }
  .footer__social {
    justify-self: end
  }
}
@media (min-width:61.99875em) {
  .item-result__text {
    max-width: 70%
  }
  .contact__text {
    max-width: 83%
  }
}
@media (min-width:75em) {
  .advantages__items:not(:last-child) {
    margin-bottom: 7.5rem
  }
  .service__items:not(:last-child) {
    margin-bottom: 2.5rem
  }
  .equipment::before {
    height: 50.6875rem
  }
  .equipment__items {
    gap: 3.125rem
  }
  .connect__items {
    gap: 1.25rem
  }
  .form-contact:not(:first-child) {
    margin-top: 3.25rem
  }
}
@media (min-width:120em) {
  .title {
    font-size: 3rem
  }
  .icon {
    width: 5.875rem
  }
  .icon {
    height: 5.875rem
  }
  .header {
    padding-top: 16.25rem
  }
  .header {
    padding-bottom: 17.875rem
  }
  .header__logo {
    margin-bottom: 2.0625rem
  }
  .header__logo {
    width: 13.75rem
  }
  .header__title {
    font-size: 4.625rem
  }
  .header__title {
    margin-bottom: 1.5rem
  }
  .header__subtitle {
    font-size: 2rem
  }
  .header__subtitle:not(:last-child) {
    margin-bottom: 2.75rem
  }
  .header__button {
    font-size: 1.5rem
  }
  .footer__top {
    padding-top: 4.5625rem
  }
  .footer__top {
    padding-bottom: 6rem
  }
  .advantages::before {
    top: 2.5rem
  }
  .advantages::before {
    width: 100vw
  }
  .advantages__container {
    padding-top: 3.0625rem
  }
  .advantages__items {
    gap: 3.5rem
  }
  .advantages__options {
    gap: 1.25rem
  }
  .item-advantage {
    padding: 2.1875rem
  }
  .item-advantage {
    border-radius: .9375rem
  }
  .item-advantage__name {
    font-size: 2rem
  }
  .option-advanrage {
    gap: 2rem
  }
  .option-advanrage__icon img {
    width: 3.75rem
  }
  .option-advanrage__text {
    font-size: 1.5rem
  }
  .service {
    padding-top: 9.375rem
  }
  .service {
    padding-bottom: 10.625rem
  }
  .service::before {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover
  }
  .service::before {
    top: -18.125rem
  }
  .service__title:not(:last-child) {
    margin-bottom: 2.625rem
  }
  .service__items {
    gap: 3rem
  }
  .item-service {
    padding: 1.875rem
  }
  .item-service__text {
    font-size: 1.25rem
  }
  .attention {
    padding: 2.1875rem
  }
  .attention {
    gap: 2.625rem
  }
  .attention__icon img {
    width: 2.75rem
  }
  .attention__text {
    gap: .3125rem
  }
  .equipment {
    padding-bottom: 14.375rem
  }
  .equipment__title {
    margin-bottom: 3.25rem
  }
  .connect {
    padding-bottom: 9.4375rem
  }
  .connect__title {
    margin-bottom: 3.625rem
  }
  .item-connect {
    gap: 2.5rem
  }
  .item-connect__text {
    font-size: 1.25rem
  }
  .video-animation {
    margin-bottom: 9.625rem
  }
  .result {
    padding-bottom: 9.9375rem
  }
  .result__title {
    margin-bottom: 5.375rem
  }
  .result__items {
    margin-bottom: 3.125rem
  }
  .item-result__name {
    margin-bottom: .375rem
  }
  .item-result__text {
    font-size: 1.5rem
  }
  .item-result__icon img {
    width: 3.25rem
  }
  .attention-result__text {
    font-size: 1.25rem
  }
  .attention-result__text b {
    font-size: 1.25rem
  }
  .contact__title {
    margin-bottom: 1.875rem
  }
  .contact__title {
    font-size: 3rem
  }
  .contact__subtitle {
    font-size: 1.5rem
  }
  .form-contact:not(:last-child) {
    margin-bottom: 5.5rem
  }
  .form-contact {
    gap: 1rem
  }
  .form-contact__input {
    padding: 1.8125rem
  }
  .form-contact__input {
    font-size: 1.5rem
  }
  .form-contact__input::-webkit-input-placeholder {
    font-size: 1rem
  }
  .form-contact__input:-ms-input-placeholder {
    font-size: 1rem
  }
  .form-contact__input::-ms-input-placeholder {
    font-size: 1rem
  }
  .form-contact__input::placeholder {
    font-size: 1rem
  }
}
@media (max-width:120em) {
  .header__button {
    padding: 2rem 4.25rem 1.6875rem 4.25rem
  }
}
@media (max-width:20em) {
  .header__title {
    font-size: 1.875rem
  }
  .advantages__items:not(:last-child) {
    margin-bottom: 5.4375rem
  }
  .service__items:not(:last-child) {
    margin-bottom: 3.4375rem
  }
  .equipment::before {
    height: 125.5625rem
  }
  .equipment__items {
    gap: 1.5625rem
  }
  .connect__items {
    gap: 2.5rem
  }
  .form-contact:not(:first-child) {
    margin-top: 3.6875rem
  }
}
@media (max-width:61.99875em) {
  .header {
    background: linear-gradient(315deg,rgba(0,0,0,0) 0,#000 100%),url(../img/hero.webp) 60% top/cover no-repeat
  }
  .header {
    padding-top: 10rem
  }
  .attention {
    flex-direction: column;
    align-items: flex-start
  }
  .item-connect__image {
    flex: 0 0 40%
  }
}
@media (max-width:47.99875em) {
  .header {
    background: linear-gradient(315deg,rgba(0,0,0,0) 0,#000 100%),url(../img/hero.webp) 60% top/auto 100% no-repeat
  }
  .header__title {
    max-width: 80%
  }
  .header__title {
    font-weight: 900
  }
  .header__subtitle {
    font-weight: 900
  }
  .footer__top {
    border-top: 1px solid #a1a1a1
  }
  .footer__top {
    grid-template-columns: 1fr;
    justify-items: center
  }
  .footer__logo:not(:last-child) {
    margin-bottom: 5.4375rem
  }
  .footer__url:not(:last-child) {
    margin-bottom: 4.25rem
  }
  .bottom-footer__container {
    flex-direction: column;
    align-items: center
  }
  .advantages::before {
    -o-object-position: top 40%;
    object-position: top 40%
  }
  .advantages__container::before {
    width: 85%
  }
  .advantages__items {
    grid-template-columns: 1fr
  }
  .option-advanrage {
    padding: 1.875rem 1.5625rem
  }
  .option-advanrage__text br {
    display: none
  }
  .service::before {
    -o-object-position: 10% top;
    object-position: 10% top
  }
  .service__items {
    grid-template-columns: repeat(1,1fr)
  }
  .item-service {
    aspect-ratio: 390/238
  }
  .attention__body {
    gap: 3.4375rem
  }
  .equipment__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
  }
  .equipment__title:before {
    right: calc(100% + .25rem)
  }
  .equipment__title::after {
    left: calc(100% + .25rem)
  }
  .item-connect {
    flex-direction: column
  }
  .item-connect__image {
    flex: 0 0 auto;
    width: 100%;
    aspect-ratio: 392/149
  }
  .video-animation video {
    -webkit-transform: scale(1.5);
    transform: scale(1.5)
  }
  .video-animation__body {
    aspect-ratio: 414/375
  }
  .item-result {
    padding: 1rem .9375rem 1.625rem .9375rem
  }
}
@media (max-width:39.0625em) {
  .item-equipment {
    aspect-ratio: 392/434!important
  }
  .item-equipment__image {
    aspect-ratio: 392/305
  }
}
@media (max-width:37.5em) {
  .header {
    background: linear-gradient(315deg,rgba(0,0,0,0) 0,#000 100%) 70% top/62.5rem 65% no-repeat,url(../img/hero.webp) 70% top/auto 65% no-repeat
  }
  .header__title {
    max-width: 90%
  }
  .form-contact {
    flex-direction: column
  }
}
@media (max-width:31.25em) {
  .header__title {
    max-width: 100%
  }
}
@media (max-width:29.99875em) {
  .header__button {
    width: 100%
  }
  .bottom-footer {
    padding: 1.5625rem 0
  }
  .option-advanrage {
    flex-direction: column;
    justify-items: center;
    text-align: center
  }
  .attention__message {
    margin-bottom: .8125rem
  }
  .item-result {
    text-align: center;
    flex-direction: column-reverse;
    background: rgba(30,30,30,.78)
  }
  .item-result__body {
    display: grid;
    justify-items: center
  }
}
@media (max-width:27.5em) {
  .title {
    font-size: 2.5rem
  }
  .icon {
    width: 4.6875rem
  }
  .icon {
    height: 4.6875rem
  }
  .header {
    padding-top: 17.5rem
  }
  .header {
    padding-bottom: 6.8125rem
  }
  .header__logo {
    margin-bottom: 3.0625rem
  }
  .header__logo {
    width: 9.0625rem
  }
  .header__title {
    font-size: 2.75rem
  }
  .header__title {
    margin-bottom: .8125rem
  }
  .header__subtitle {
    font-size: 1.25rem
  }
  .header__subtitle:not(:last-child) {
    margin-bottom: 2.5rem
  }
  .header__button {
    font-size: 1.25rem
  }
  .footer__top {
    padding-top: 2.5rem
  }
  .footer__top {
    padding-bottom: 3.5625rem
  }
  .advantages::before {
    top: 3rem
  }
  .advantages__container {
    padding-top: 3.8125rem
  }
  .advantages__items {
    gap: 2.125rem
  }
  .advantages__options {
    gap: 1.625rem
  }
  .item-advantage {
    padding: 1.25rem
  }
  .item-advantage {
    border-radius: .5625rem
  }
  .item-advantage__name {
    font-size: 1.5rem
  }
  .option-advanrage {
    gap: 1.625rem
  }
  .option-advanrage__icon img {
    width: 3.0625rem
  }
  .option-advanrage__text {
    font-size: .875rem
  }
  .service {
    padding-top: 5.9375rem
  }
  .service {
    padding-bottom: 4.9375rem
  }
  .service::before {
    top: -13.125rem
  }
  .service__title:not(:last-child) {
    margin-bottom: 2rem
  }
  .service__items {
    gap: 1.625rem
  }
  .item-service {
    padding: 1.25rem
  }
  .item-service__text {
    font-size: 1rem
  }
  .attention {
    padding: 1rem
  }
  .attention {
    gap: 1.625rem
  }
  .attention__icon img {
    width: 2.1875rem
  }
  .attention__text {
    gap: 1.6875rem
  }
  .equipment {
    padding-bottom: 5rem
  }
  .equipment__title {
    margin-bottom: 4.5rem
  }
  .connect {
    padding-bottom: 6.625rem
  }
  .connect__title {
    margin-bottom: 4.1875rem
  }
  .item-connect {
    gap: 1.25rem
  }
  .item-connect__text {
    font-size: 1rem
  }
  .video-animation {
    margin-bottom: 7.9375rem
  }
  .result {
    padding-bottom: 3.25rem
  }
  .result__title {
    margin-bottom: 2.125rem
  }
  .result__items {
    margin-bottom: 2.5rem
  }
  .item-result__name {
    margin-bottom: .8125rem
  }
  .item-result__text {
    font-size: .875rem
  }
  .item-result__icon img {
    width: 2.625rem
  }
  .attention-result__text {
    font-size: .875rem
  }
  .attention-result__text b {
    font-size: 1rem
  }
  .contact__title {
    margin-bottom: 1.5625rem
  }
  .contact__title {
    font-size: 1.5rem
  }
  .contact__subtitle {
    font-size: .875rem
  }
  .form-contact:not(:last-child) {
    margin-bottom: 4.875rem
  }
  .form-contact {
    gap: 1.5625rem
  }
  .form-contact__input {
    padding: 1.25rem
  }
  .form-contact__input {
    font-size: 1.125rem
  }
  .form-contact__input::-webkit-input-placeholder {
    font-size: .875rem
  }
  .form-contact__input:-ms-input-placeholder {
    font-size: .875rem
  }
  .form-contact__input::-ms-input-placeholder {
    font-size: .875rem
  }
  .form-contact__input::placeholder {
    font-size: .875rem
  }
}
@media (min-width:27.5em)and (max-width:120em) {
  .title {
    font-size: clamp(2.5rem ,2.3513513514rem + .5405405405vw ,3rem)
  }
  .icon {
    width: clamp(4.6875rem ,4.3344594595rem + 1.2837837838vw ,5.875rem)
  }
  .icon {
    height: clamp(4.6875rem ,4.3344594595rem + 1.2837837838vw ,5.875rem)
  }
  .header {
    padding-bottom: clamp(6.8125rem ,3.5236486486rem + 11.9594594595vw ,17.875rem)
  }
  .header__logo {
    margin-bottom: clamp(2.0625rem ,3.3597972973rem + -1.0810810811vw ,3.0625rem)
  }
  .header__logo {
    width: clamp(9.0625rem ,7.6689189189rem + 5.0675675676vw ,13.75rem)
  }
  .header__title {
    font-size: clamp(2.75rem ,2.1925675676rem + 2.027027027vw ,4.625rem)
  }
  .header__title {
    margin-bottom: clamp(.8125rem ,.6081081081rem + .7432432432vw ,1.5rem)
  }
  .header__subtitle {
    font-size: clamp(1.25rem ,1.027027027rem + .8108108108vw ,2rem)
  }
  .header__subtitle:not(:last-child) {
    margin-bottom: clamp(2.5rem ,2.4256756757rem + .2702702703vw ,2.75rem)
  }
  .header__button {
    font-size: clamp(1.25rem ,1.1756756757rem + .2702702703vw ,1.5rem)
  }
  .footer__top {
    padding-top: clamp(2.5rem ,1.8868243243rem + 2.2297297297vw ,4.5625rem)
  }
  .footer__top {
    padding-bottom: clamp(3.5625rem ,2.8378378378rem + 2.6351351351vw ,6rem)
  }
  .advantages::before {
    top: clamp(2.5rem ,3.1486486486rem + -.5405405405vw ,3rem)
  }
  .advantages__container {
    padding-top: clamp(3.0625rem ,4.035472973rem + -.8108108108vw ,3.8125rem)
  }
  .advantages__items {
    gap: clamp(2.125rem ,1.7162162162rem + 1.4864864865vw ,3.5rem)
  }
  .advantages__options {
    gap: clamp(1.25rem ,1.7364864865rem + -.4054054054vw ,1.625rem)
  }
  .item-advantage {
    padding: clamp(1.25rem ,.9712837838rem + 1.0135135135vw ,2.1875rem)
  }
  .item-advantage {
    border-radius: clamp(.5625rem ,.4510135135rem + .4054054054vw ,.9375rem)
  }
  .item-advantage__name {
    font-size: clamp(1.5rem ,1.3513513514rem + .5405405405vw ,2rem)
  }
  .option-advanrage {
    gap: clamp(1.625rem ,1.5135135135rem + .4054054054vw ,2rem)
  }
  .option-advanrage__icon img {
    width: clamp(3.0625rem ,2.8581081081rem + .7432432432vw ,3.75rem)
  }
  .option-advanrage__text {
    font-size: clamp(.875rem ,.6891891892rem + .6756756757vw ,1.5rem)
  }
  .service {
    padding-top: clamp(5.9375rem ,4.9155405405rem + 3.7162162162vw ,9.375rem)
  }
  .service {
    padding-bottom: clamp(4.9375rem ,3.2466216216rem + 6.1486486486vw ,10.625rem)
  }
  .service::before {
    top: clamp(-18.125rem ,-11.6385135135rem + -5.4054054054vw ,-13.125rem)
  }
  .service__title:not(:last-child) {
    margin-bottom: clamp(2rem ,1.8141891892rem + .6756756757vw ,2.625rem)
  }
  .service__items {
    gap: clamp(1.625rem ,1.2162162162rem + 1.4864864865vw ,3rem)
  }
  .item-service {
    padding: clamp(1.25rem ,1.0641891892rem + .6756756757vw ,1.875rem)
  }
  .item-service__text {
    font-size: clamp(1rem ,.9256756757rem + .2702702703vw ,1.25rem)
  }
  .attention {
    padding: clamp(1rem ,.6469594595rem + 1.2837837838vw ,2.1875rem)
  }
  .attention {
    gap: clamp(1.625rem ,1.3277027027rem + 1.0810810811vw ,2.625rem)
  }
  .attention__icon img {
    width: clamp(2.1875rem ,2.0202702703rem + .6081081081vw ,2.75rem)
  }
  .attention__text {
    gap: clamp(.3125rem ,2.0962837838rem + -1.4864864865vw ,1.6875rem)
  }
  .equipment {
    padding-bottom: clamp(5rem ,2.2128378378rem + 10.1351351351vw ,14.375rem)
  }
  .equipment__title {
    margin-bottom: clamp(3.25rem ,4.8716216216rem + -1.3513513514vw ,4.5rem)
  }
  .connect {
    padding-bottom: clamp(6.625rem ,5.7888513514rem + 3.0405405405vw ,9.4375rem)
  }
  .connect__title {
    margin-bottom: clamp(3.625rem ,4.3547297297rem + -.6081081081vw ,4.1875rem)
  }
  .item-connect {
    gap: clamp(1.25rem ,.8783783784rem + 1.3513513514vw ,2.5rem)
  }
  .item-connect__text {
    font-size: clamp(1rem ,.9256756757rem + .2702702703vw ,1.25rem)
  }
  .video-animation {
    margin-bottom: clamp(7.9375rem ,7.4358108108rem + 1.8243243243vw ,9.625rem)
  }
  .result {
    padding-bottom: clamp(3.25rem ,1.2618243243rem + 7.2297297297vw ,9.9375rem)
  }
  .result__title {
    margin-bottom: clamp(2.125rem ,1.1587837838rem + 3.5135135135vw ,5.375rem)
  }
  .result__items {
    margin-bottom: clamp(2.5rem ,2.3141891892rem + .6756756757vw ,3.125rem)
  }
  .item-result__name {
    margin-bottom: clamp(.375rem ,.9425675676rem + -.472972973vw ,.8125rem)
  }
  .item-result__text {
    font-size: clamp(.875rem ,.6891891892rem + .6756756757vw ,1.5rem)
  }
  .item-result__icon img {
    width: clamp(2.625rem ,2.4391891892rem + .6756756757vw ,3.25rem)
  }
  .attention-result__text {
    font-size: clamp(.875rem ,.7635135135rem + .4054054054vw ,1.25rem)
  }
  .attention-result__text b {
    font-size: clamp(1rem ,.9256756757rem + .2702702703vw ,1.25rem)
  }
  .contact__title {
    margin-bottom: clamp(1.5625rem ,1.4695945946rem + .3378378378vw ,1.875rem)
  }
  .contact__title {
    font-size: clamp(1.5rem ,1.0540540541rem + 1.6216216216vw ,3rem)
  }
  .contact__subtitle {
    font-size: clamp(.875rem ,.6891891892rem + .6756756757vw ,1.5rem)
  }
  .form-contact:not(:last-child) {
    margin-bottom: clamp(4.875rem ,4.6891891892rem + .6756756757vw ,5.5rem)
  }
  .form-contact {
    gap: clamp(1rem ,1.7297297297rem + -.6081081081vw ,1.5625rem)
  }
  .form-contact__input {
    padding: clamp(1.25rem ,1.0827702703rem + .6081081081vw ,1.8125rem)
  }
  .form-contact__input {
    font-size: clamp(1.125rem ,1.0135135135rem + .4054054054vw ,1.5rem)
  }
  .form-contact__input::-webkit-input-placeholder {
    font-size: clamp(.875rem ,.8378378378rem + .1351351351vw ,1rem)
  }
  .form-contact__input:-ms-input-placeholder {
    font-size: clamp(.875rem ,.8378378378rem + .1351351351vw ,1rem)
  }
  .form-contact__input::-ms-input-placeholder {
    font-size: clamp(.875rem ,.8378378378rem + .1351351351vw ,1rem)
  }
  .form-contact__input::placeholder {
    font-size: clamp(.875rem ,.8378378378rem + .1351351351vw ,1rem)
  }
}
@media (min-width:61.99875em)and (max-width:120em) {
  .header {
    padding-top: clamp(10rem ,3.3192441973rem + 10.7756298356vw ,16.25rem)
  }
}
@media (min-width:27.5em)and (max-width:61.99875em) {
  .header {
    padding-top: clamp(12.5rem ,21.485651654rem + -14.493278742vw ,17.5rem)
  }
}
@media (min-width:20em)and (max-width:27.5em) {
  .header__title {
    font-size: clamp(1.875rem ,-.4583333333rem + 11.6666666667vw ,2.75rem)
  }
}
@media (min-width:20em)and (max-width:75em) {
  .advantages__items:not(:last-child) {
    margin-bottom: clamp(5.4375rem ,4.6875rem + 3.75vw ,7.5rem)
  }
  .service__items:not(:last-child) {
    margin-bottom: clamp(2.5rem ,3.7784090909rem + -1.7045454545vw ,3.4375rem)
  }
  .equipment::before {
    height: clamp(50.6875rem ,152.7897727273rem + -136.1363636364vw ,125.5625rem)
  }
  .equipment__items {
    gap: clamp(1.5625rem ,.9943181818rem + 2.8409090909vw ,3.125rem)
  }
  .connect__items {
    gap: clamp(1.25rem ,2.9545454545rem + -2.2727272727vw ,2.5rem)
  }
  .form-contact:not(:first-child) {
    margin-top: clamp(3.25rem ,3.8465909091rem + -.7954545455vw ,3.6875rem)
  }
}
@media (any-hover:hover) {
  .button:hover {
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
    box-shadow: 10px 15px 30px rgba(255,255,255,.25)
  }
  .footer__social a:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
  }
  .bottom-footer__policy:hover {
    text-decoration: underline
  }
  .item-advantage:hover img {
    -webkit-transform: scale(1.03);
    transform: scale(1.03)
  }
  .item-service:hover img {
    -webkit-transform: scale(1.03);
    transform: scale(1.03)
  }
  .item-equipment__image:hover img {
    -webkit-transform: scale(1.04);
    transform: scale(1.04)
  }
  .item-equipment__name:hover {
    color: #787878
  }
  .item-result:hover {
    background: rgba(30,30,30,.78)
  }
  .item-result:hover .item-result__body {
    -webkit-transform: translate(1.75rem,0);
    transform: translate(1.75rem,0)
  }
  .item-result:hover .item-result__icon {
    -webkit-transform: translate(-1.75rem,0);
    transform: translate(-1.75rem,0)
  }
}